body {
  font-family: "Montserrat", sans-serif;
  background-image: url(src/weatherbackground.jpg);
  background-image: url("https://images.unsplash.com/photo-1498496294664-d9372eb521f3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  background-size: auto;
  background-repeat: no-repeat;
  background-color: #8cbafd;
}

.container {
  display: block;
  margin: 0px auto;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 50%;
}

.weather-app-cover {
  background-color: white;
  border: 8px inset #0287b2;
  box-shadow: 7px 7px 40px;
  margin: 100px auto 10px auto;
}

.form-control {
  border-color: #008ab2;
  color: #686868;
}

.search-button {
  background-color: #008ab2;
  border-color: #02475e;
  color: white;
}

.search-button:hover {
  background-color: #02475e;
  border-color: #008ab2;
  color: white;
  font-weight: 500;
}

h1 {
  color: #0097cd;
  font-size: 30px;
  font-weight: bold;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0px 10px;
  padding: 0;
}

li {
  list-style: none;
  margin: 2px;
  padding: 0;
  color: #686868;
  font-size: 17px;
  font-weight: 300;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 70px;
  width: 70px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.celsius,
.farenheit {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}

.celsius:hover,
.farenheit:hover {
  color: #008ab2;
  text-decoration: none;
}

footer {
  text-align: center;
  color: white;
}

.code-link {
  color: white;
}

.code-link:hover {
  color: #02475e;
}
